<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder"></ion-back-button>
    </ion-buttons>
    <ion-title>Soporte</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="soporte-container">

    <div class="header-info">
      <div class="location-info">
        <img src="assets/icon/logocop.png" alt="Logo" class="logo-small">
        <div class="location-text">
          <p class="taxi-name">TaxiYa</p>
          <p class="location-name">El Empalme</p>
        </div>
      </div>
      <ion-button fill="clear" color="danger">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </div>


    <h2 class="main-title">Soporte</h2>

   
    <div class="support-buttons">
      <ion-button expand="block" class="support-btn" (click)="solicitarAyuda()">
        Solicitar ayuda
      </ion-button>

      <ion-button expand="block" class="support-btn" (click)="reportarActividad()">
        Reportar actividad sospechosa
      </ion-button>

      <ion-button expand="block" class="support-btn" (click)="verGuias()">
        Guías
      </ion-button>

      <ion-button expand="block" class="support-btn" (click)="verPreguntas()">
        Preguntas frecuentes
      </ion-button>

      <ion-button expand="block" class="support-btn" (click)="verPoliticas()">
        Ver políticas
      </ion-button>
    </div>

  </div>
</ion-content>


<ion-footer class="app-footer">
  <ion-toolbar>
    <ion-buttons class="footer-buttons">
      <ion-button class="footer-button" (click)="goHome()">
        <div class="button-content">
          <ion-icon name="home-outline"></ion-icon>
          <span>Inicio</span>
        </div>
      </ion-button>
      <ion-button class="footer-button active">
        <div class="button-content">
          <ion-icon name="settings-outline"></ion-icon>
          <span>Configuración</span>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
