<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="forgot-container">
    <div class="header-logo">
      <img src="assets/icon/logocop.png" alt="TaxisYa Logo" class="app-logo">
    </div>
    
    <h1>¿Olvidaste tu contraseña?</h1>
    
    <p class="instructions">
      Ingresa tu número de teléfono o correo para solicitar acceso
    </p>

    <form (ngSubmit)="onSubmit()">
      <ion-item class="custom-input">
        <ion-label position="stacked">Teléfono o correo:</ion-label>
        <ion-input [(ngModel)]="contactInfo" name="contactInfo" type="text" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="submit-button">
        Enviar
      </ion-button>
    </form>
  </div>
</ion-content>